<%unless current_user.skills.empty?%>



<%end%>
 <table class="table table-bordered" style="background-color:#D44413;">   
<thead>
<tr>
<th>First Column</th>
<th>Second Column</th>
<th>First Column</th>
<th>Second Column</th>
<th>First Column</th>
<th>Second Column</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr style="background-color: #db7421">
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td></td>
</tr>
<tr style="background-color: #c99136">
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td></td>
</tr>
<tr style="background-color: #db7421">
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td></td>
</tr>
<tr style="background-color: #c99136">
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td>First TD</td>
<td>Second TD</td>
<td></td>
</tr>
</tbody>
    </table>

  <div class="modal hide fade" id="project-add-modal" style="display: none; ">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Add New Project</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="input01">Project Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="project-name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="textarea">Project Description</label>
        <div class="controls">
          <textarea class="input-xlarge" id="project-desc" rows="3"></textarea>
        </div>
      </div>
      <label class="control-label">Invite People to
      collaborate on your project</label>
      <div class="control-group">
        <label class="control-label" for="prependedInput"></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text">
          </div>
          <p class="help-block">Here's some help text</p>
        </div>
      </div>
    </fieldset>
</form></div>
<div class="modal-footer">
  <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  <a href="#" class="btn btn-primary">Save changes</a>
</div>
  </div>
<div style="text-align: right;"><a class="btn-primary btn" data-toggle="modal" href="#project-add-modal">Add Qualification</a>
	
</div>
