<div class="hero-unit">
  <h1>E-Architect</h1>
  <p>This is a place where you can get the architectural view of your building.You need to provide some information about your area</p>
  <p><a class="btn btn-primary btn-large" href="/users/sign_up">Start and get sample &raquo;</a></p>
  <!-- <p><a href="https://github.com/Eric-Guo/bootstrap-rails-startup-site" target="_blank">Fork this site in Github</a></p>
  <p><a href="http://blog.cloud-mes.com" target="_blank">Visit Author Blog</p> -->
</div>